:root {
  /* Color styles */
  --green: rgba(0, 228, 125, 1);
  --orange: rgba(255, 134, 65, 1);
  --black: rgba(26, 26, 26, 1);
  --lightblack: rgba(43, 43, 43, 1);
  --gray: rgba(148, 148, 148, 1);
  --shadewhite: rgba(240, 240, 240, 1);
  --purple: rgba(175, 66, 174, 1);
  --red: rgba(191, 19, 19, 1);
  --blue: rgba(56, 136, 201, 1);
  --gradient: linear-gradient(945deg, #00e47d 2%, #dbea7c 67%, #ff8641 100%);

  /* Effect styles */
  --sidebar-shadow: 15px -4px 0px rgba(43, 43, 43, 0.25);

  /* Paddings */
  --tinypadding: 15px;
  --sidepadding: 15px;
  --sectionpadding: 60px;
  --internalpadding: 30px;

  /* Font Sizes - Mobile fallback for clamp */
  --h1big: 2.938rem;
  --h1small: 1.813rem;
  --h2section: 1.625rem;
  --h3main: 1.25rem;
  --h3small: 1.125rem;
  --bodybutton: 1.125rem;
  --bodysmall: 1rem;
  --infobig: 0.875rem;
  --infosmall: 0.875rem;
}
@media only screen and (min-width: 767px) {
  /* Tablet fallback */
  :root {
    --h1big: 3.375rem;
    --h1small: 2.1rem;
    --h2section: 1.9rem;
    --h3main: 1.5rem;
    --h3small: 1.25rem;
    --bodybutton: 1.188rem;
    --bodysmall: 1.063rem;
    --infobig: 1.15rem;
    --infosmall: 0.938rem;
  }
}
@media only screen and (min-width: 1368px) {
  /* Desktop fallback */
  /* Font Sizes */
  :root {
    --h1big: 4rem;
    --h1small: 2.563rem;
    --h2section: 2.313rem;
    --h3main: 1.813rem;
    --h3small: 1.438rem;
    --bodybutton: 1.25rem;
    --bodysmall: 1.125rem;
    --infobig: 1.563rem;
    --infosmall: 1rem;

    /* Padding */
    --tinypadding: 30px;
    --sidepadding: 120px;
    --sectionpadding: 120px;
    --internalpadding: 60px;
  }
}

@supports (padding: clamp(1rem, 2vw, 3rem)) {
  :root {
    --h1big: clamp(2.938rem, 2.6346rem + 1.5171vw, 4rem);
    --h1small: clamp(1.813rem, 1.5987rem + 1.0714vw, 2.563rem);
    --h2section: clamp(1.625rem, 1.4284rem + 0.9829vw, 2.313rem);
    --h3main: clamp(1.25rem, 1.0891rem + 0.8043vw, 1.813rem);
    --h3small: clamp(1.125rem, 1.0356rem + 0.4471vw, 1.438rem);
    --bodybutton: clamp(1.125rem, 1.0893rem + 0.1786vw, 1.25rem);
    --bodysmall: clamp(1rem, 0.9643rem + 0.1786vw, 1.125rem);
    --infobig: clamp(0.875rem, 0.6784rem + 0.9829vw, 1.563rem);
    --infosmall: clamp(0.875rem, 0.8393rem + 0.1786vw, 1rem);

    --sidepadding: clamp(15px, -105px + 15.625vw, 120px);
    --sectionpadding: clamp(60px, -8.5712px + 8.9286vw, 120px);
    --internalpadding: clamp(30px, -4.2864px + 4.4643vw, 60px);
    --tinypadding: clamp(15px, -2.1424px + 2.2321vw, 30px);
  }
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Nunito", Arial, sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  position: relative;
  background-color: white;
  color: var(--lightblack);
  width: 100%;
  min-width: 300px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}
.body-home {
  position: relative;
  z-index: -3;
}
.body-home * {
  z-index: 1;
}
.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

/** Text Styling **/
h1,
h2,
h3,
.buttontext,
.navblock__item .asideheader {
  font-family: "Lato", Arial, sans-serif;
}
.gigaheader,
.h3small,
.navblock__item,
.bodytext--large,
.bodytext {
  font-weight: 400;
}
.blogheader,
.tagtext,
.tagtext--small,
.asideheader,
.buttontext,
.navblock__item--active {
  font-weight: 700;
}
.tagtext,
.bodytext--large,
.buttontext,
.navblock__item {
  font-size: var(--bodybutton);
}
a {
  color: inherit;
}
.gigaheader {
  color: var(--black);
  font-size: var(--h1big);
  line-height: 80%;
  text-transform: uppercase;
  text-shadow: -4px 0px 0px rgba(43, 43, 43, 0.25), 0px 1px 8px rgba(43, 43, 43, 0.15);
}
.gigaheader__spacing {
  display: block;
  letter-spacing: 0.05em;
}
.blogheader {
  color: var(--black);
  font-size: var(--h1small);
  line-height: 100%;
}
.sectionheader {
  text-transform: uppercase;
  color: var(--black);
  font-size: var(--h2section);
  font-weight: 900;
  line-height: 100%;
}
.h3big {
  font-size: var(--h3main);
  font-weight: 700;
  line-height: 158.6%;
}
.h3small {
  font-size: var(--h3small);
  line-height: 111%;
}
.tagtext,
.tagtext--small {
  line-height: 150%;
  color: white;
}
.tagtext--small {
  font-size: 0.875rem;
}
.buttontext,
.navblock__item {
  text-transform: uppercase;
  line-height: 100%;
  letter-spacing: 0.05em;
}
.bodytext--large,
.bodytext {
  line-height: 160%;
}
.bodytext {
  font-size: var(--bodysmall);
}
@media only screen and (max-width: 768px) {
  .bodytext {
    line-height: 156.3%;
  }
  .bodytext--large {
    line-height: 155.6%;
  }
}
@media only screen and (min-width: 1368px) {
  .bodytext {
    line-height: 166.7%;
  }
  .bodytext--large {
    line-height: 170%;
  }
}
.infotext {
  color: var(--lightblack);
  font-size: var(--infosmall);
  font-weight: 300;
  line-height: 100%;
}
.infotext--big {
  font-size: var(--infobig);
}
.footertext {
  color: white;
  font-size: 0.875rem;
  line-height: 150%;
}
.asideheader {
  font-size: 2rem;
}

.pagewidth {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  padding: 0 var(--sidepadding);
}
/** Universal UI stuff **/
.visuallyhidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}
.button {
  color: white;
  padding: 15px 20px;
  text-shadow: 0px 4px 15px rgba(43, 43, 43, 0.25);
  background-color: var(--blue);
  box-shadow: 0px 4px 0px rgba(56, 136, 201, 0.4);
  border-radius: 4px;
  transition: all 0.25s ease-in-out;
}
.button:hover {
  background-color: rgba(56, 136, 201, 0.8);
  box-shadow: none;
  transform: translateY(4px);
}
.links--blue {
  color: var(--blue);
}
.links--blue span {
  align-self: baseline;
  margin-left: 6px;
  transition: all 0.25s ease-in-out;
}
.links:hover,
.links:focus {
  color: var(--black);
  text-decoration: underline;
}
.links--blue:hover span,
.links--blue:focus span {
  transform: translateX(12px);
}

/*! Masthead/Navigation **/
.navblock {
  background-color: var(--black);
  position: relative;
}
.navblock__upperwrap {
  background-color: var(--black);
  position: relative;
  z-index: 3;
}
.navblock__upper {
  background-color: var(--black);
  display: flex;
  align-items: center;
  padding: 15px 15px;
  padding: clamp(15px, 4.2864px + 3.3482vw, 30px) var(--sidepadding);
}
.navblock__barwrap {
  display: none;
}
.navblock__logowrap {
  margin: 0 auto;
}
.navblock__logo {
  display: block;
  /* max-width: 142px; */
  /* width: calc(-0.8777rem + 32.8286vw); */
  /* width: calc(26.8576px + 1.6071vw);
  min-width: 88.72px; */
  min-height: 32px;
  height: calc(0.5264rem + 7.3679vw);
  max-height: 65px;
}
.navblock__lower {
  background-color: var(--lightblack);
}
.navblock__listblock {
  display: flex;
  justify-content: space-around;
}
.navblock__listblock li {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.navblock__listblock li:last-of-type {
  border-right: 0;
}
.navblock__item {
  flex: 1 1 auto;
  color: white;
}
.navblock__linktext {
  position: relative;
}
.navblock__linktext::after {
  display: block;
  content: "";
  position: relative;
  bottom: -2px;
  left: 0;
  height: 3px;
  width: 100%;
  border-radius: 10px;
  transform-origin: left;
  transition: all 0.15s ease-in-out;
  transform: scaleX(0);
  background-color: white;
}
.navblock__item--active .navblock__linktext::after {
  background-color: var(--green);
}
.navblock__item--active .navblock__linktext::after,
.navblock__item:hover .navblock__linktext::after,
.navblock__item:focus .navblock__linktext::after {
  transform: scaleX(1);
}
.navblock__item .fas {
  display: none;
}
@media only screen and (max-width: 767px) {
  .sticky {
    position: sticky;
    z-index: 3;
    top: 0;
  }
  .navblock__barwrap {
    display: block;
    min-height: 32px;
    height: calc(-5.1424px + 11.6071vw);
    height: calc(26.8576px + 1.6071vw);
    max-height: 50px;
    min-width: 32px;
    width: calc((26.8576px + 1.6071vw) * 1.142857142857);
    max-width: 57px;
  }
  .navblock__bars {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
  }
  .navblock__bars > span {
    position: absolute;
    left: 0;
    opacity: 1;
    border-radius: 10px;
    display: block;
    background-color: white;
    width: 100%;
    height: 16.67%;
    transform: rotate(0deg);
    transition: all 0.25s ease-in-out;
  }
  .bar1 {
    top: 0;
  }
  .bar2 {
    top: 42%;
  }
  .bar3 {
    top: 83.33%;
  }
  .navblock__bars.switch .bar1 {
    transform: rotate(45deg);
    top: 42%;
  }
  .navblock__bars.switch .bar2 {
    left: -50px;
    opacity: 0;
  }
  .navblock__bars.switch .bar3 {
    transform: rotate(-45deg);
    top: 42%;
  }
  .navblock__relative {
    position: relative;
  }
  .navblock__lower {
    visibility: hidden;
    z-index: 2;
    opacity: 1;
    transition: all 0.5s ease-in-out, background-color 0.5s ease-in-out 0.5s;
    transform-origin: top;
    width: 100%;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
  }
  .hide {
    transform: translateY(0);
    visibility: visible;
    background-color: transparent;
  }
  .navblock__listblock {
    background-color: rgba(26, 26, 26, 0.5);
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 0;
    padding-bottom: 60px;
  }
  .navblock__listblock li {
    margin: 0;
  }
  .navblock__item .fas {
    display: block;
  }
  .navblock__item {
    width: 100%;
    background-color: var(--lightblack);
    display: flex;
    align-items: center;
    padding: 30px var(--sidepadding);
    justify-content: space-between;
    border-bottom: 2px solid rgba(57, 57, 57, 1);
  }
  .navblock__linktext::after {
    display: none;
  }
  .navblock__item--active .navblock__linktext::after {
    display: block;
  }
  .navblock__item:hover,
  .navblock__item:focus {
    background-color: rgb(87, 87, 87);
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(945deg, #00e47d 2%, #dbea7c 67%, #ff8641 100%) 1 round;
  }
  .navblock__item--active,
  .navblock__item--active:hover,
  .navblock__item--active:focus {
    background-color: rgba(67, 67, 67, 1);
    border-bottom: 2px solid rgba(57, 57, 57, 1);
    border-image: 0;
  }
}

/* Home Page Content */
.main-home {
  position: relative;
  z-index: -2;
}
.main-home > * {
  z-index: 1;
}
.hero {
  position: relative;
  z-index: -1;
}
.hero__pattern {
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #e5e5f7;
  opacity: 0.1;
  background-image: linear-gradient(30deg, #444cf7 12%, transparent 12.5%, transparent 87%, #444cf7 87.5%, #444cf7),
    linear-gradient(150deg, #444cf7 12%, transparent 12.5%, transparent 87%, #444cf7 87.5%, #444cf7),
    linear-gradient(30deg, #444cf7 12%, transparent 12.5%, transparent 87%, #444cf7 87.5%, #444cf7),
    linear-gradient(150deg, #444cf7 12%, transparent 12.5%, transparent 87%, #444cf7 87.5%, #444cf7),
    linear-gradient(60deg, #444cf777 25%, transparent 25.5%, transparent 75%, #444cf777 75%, #444cf777),
    linear-gradient(60deg, #444cf777 25%, transparent 25.5%, transparent 75%, #444cf777 75%, #444cf777);
  background-size: 80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

/* Gradient animation generated using this website: https://www.gradient-animator.com/ */
.hero__gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
  padding: 0;
  background: linear-gradient(
    219deg,
    #00e47d,
    #5fe676,
    #86e772,
    #a4e871,
    #bee974,
    #cde26b,
    #dadb64,
    #e6d460,
    #eec250,
    #f5af44,
    #fb9b40,
    #ff8641
  );
  background-size: 2400% 2400%;
  -webkit-animation: GradientAnimation 40s ease infinite;
  -moz-animation: GradientAnimation 40s ease infinite;
  animation: GradientAnimation 40s ease infinite;
}
@-webkit-keyframes GradientAnimation {
  0% {
    background-position: 92% 0%;
  }
  50% {
    background-position: 9% 100%;
  }
  100% {
    background-position: 92% 0%;
  }
}
@-moz-keyframes GradientAnimation {
  0% {
    background-position: 92% 0%;
  }
  50% {
    background-position: 9% 100%;
  }
  100% {
    background-position: 92% 0%;
  }
}
@keyframes GradientAnimation {
  0% {
    background-position: 92% 0%;
  }
  50% {
    background-position: 9% 100%;
  }
  100% {
    background-position: 92% 0%;
  }
}

.hero__content {
  position: relative;
  z-index: 2;
  padding-top: 184px;
  padding-top: clamp(184px, 152.2353px + 8.8235vw, 220px);
  background-image: url("../media/herobannertransp1-570w.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom left;
}
.hero__textblock {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 60px;
  padding-top: clamp(60px, 42.8576px + 5.3571vw, 120px);
  padding-bottom: 60px;
  /* To keep text from extending past heading */
  min-width: 256px;
  width: calc(230.5824px + 7.9429vw);
  max-width: 345px;
}
.hero__title {
  margin-bottom: 15px;
}
.hero__gibberish {
  margin-bottom: 60px;
}
@keyframes WhiteBoard {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.3;
  }
}
/* I don't want this thing, it's just a band-aid to prevent the initial blitz when the background color loads before the SVG renders */
/* I would've swapped out the entire thing but it's a bit late for it now */
.hero__whiteboard {
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  animation: WhiteBoard 2s ease-in-out 1s forwards;
}
@media only screen and (min-width: 767px) {
  .hero__content {
    padding-top: 0;
    background: url("../media/herobannertransp1-1000w.svg") no-repeat left/cover;
  }
}
@media only screen and (min-width: 1368px) {
  .hero__content {
    background-image: url("../media/herobannertransp1-1440w.svg");
  }
}
.section {
  padding: var(--sectionpadding) 0;
  overflow-x: clip;
}
.section__contrast {
  background-color: var(--shadewhite);
}
.section__titleblock {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 30px;
  padding-bottom: var(--internalpadding);
  margin: -5px;
}
.section__titleblock > * {
  flex-basis: calc((530px - 100%) * 999);
  margin: 5px;
}
.section__title {
  flex-grow: 0;
  white-space: nowrap;
}
.section__titleruler {
  align-self: center;
  flex: 1 0 auto;
  border-radius: 4px;
  height: 2px;
  background: var(--gradient);
}
.section__articles {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  margin: 0 -15px;
}
.section__articles > * {
  padding-bottom: 30px;
  padding-bottom: var(--internalpadding);
  margin: 0 15px;
  flex-grow: 1;
  flex-basis: 46.0900182075%;
}
.section__articlewrap {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  margin: -15px;
}
.section__articlewrap > * {
  flex-grow: 1;
  margin: 15px;
  flex-basis: calc((768px - 100%) * 999);
}
/** API Content Styling **/

.article__item,
.article__textblock {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.article__imagewrap {
  border-radius: 4px;
  max-height: 300px;
}
.article__image {
  max-width: 100%;
  width: auto;
  min-height: 230px;
  height: auto;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
}
.article__textblock {
  width: 100%;
  margin-top: 30px;
  padding-bottom: 45px;
  padding-bottom: var(--internalpadding);
  border-bottom: 1px solid var(--gray);
}
.article__tag {
  padding: 5px 15px;
  border-radius: 4px;
}
.article__tag--guide {
  background-color: var(--purple);
  border: 1px solid var(--purple);
}
.article__tag--news {
  background-color: var(--orange);
  border: 1px solid var(--orange);
}
.article__tag--review {
  background-color: var(--green);
  border: 1px solid var(--green);
}
.article__tag--opinion {
  background-color: var(--lightblack);
  border: 1px solid var(--lightblack);
}
.article__info {
  margin-bottom: 7.5px;
}
.article__info,
.article__infotext,
.article__infotext > * {
  display: flex;
  align-items: baseline;
}
.article__info {
  flex-flow: wrap;
}
.article__info span {
  padding-right: 5px;
  color: var(--red);
}
.article__author,
.article__tag {
  margin-right: 10px;
}
.article__title,
.article__tag {
  margin-bottom: 10px;
}
.article__link {
  align-self: flex-start;
  margin-top: 45px;
}
@media only screen and (min-width: 768px) {
  .section__articles > li {
    max-width: 47.3449102962%;
    max-width: clamp(354px, 47.3449102962%, 570px);
  }
  .article__item--featured,
  .article__item--listed {
    max-width: 570px;
  }
  .article__image {
    min-height: 300px;
  }
  .article__item:nth-child(4),
  .article__item:nth-child(3) {
    padding-bottom: 0;
  }
}
.section__rulerwrap {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.section__buttonwrap {
  flex: none;
  display: flex;
  justify-content: flex-end;
  margin-left: 15px;
  min-width: 89px;
}
.section__buttonwrap > * {
  font-size: var(--h3main);
  color: var(--gray);
  padding: 0;
  line-height: 100%;
  background: none;
  border: none;
}
.button-left {
  margin-right: 15px;
}
.carousel__outer {
  position: relative;
  min-height: 430px;
  overflow: hidden;
}
.carousel__inner {
  /* transform: translateX(calc(-340px * 3)); */
  /* transform: translateX(-340px); */
  /* left: calc(var(--sidepadding) * -1); */
  position: absolute;
  left: -15px;
  left: calc(var(--sidepadding) * -1);
  padding: 0 0 0 15px;
  padding: 0 0 0 var(--sidepadding);
  display: inline-flex;
  justify-content: flex-start;
  transition: transform 0.5s ease;
}

.show {
  cursor: pointer;
  color: var(--black);
}
.show:hover {
  color: var(--red);
}
/* Breakpoints for each time a new box can be included, stretching the ones in view while the viewport grows between each breakpoint */
/* Since my sidepadding is linearly scaled I have to subtract that formula along with the total width of margins in the viewable portion of the carousel */
.article__item--latest {
  margin-right: 15px;
  min-width: calc(100vw - 30px);
}
@media only screen and (min-width: 609.5px) {
  .article__item--latest {
    min-width: calc(((100vw - 15px) - 30px) / 2);
  }
}
/* Linear scaling kicks in */
@media only screen and (min-width: 768px) {
  .article__item--latest {
    min-width: calc(((100vw - 15px) - (-210px + 31.25vw)) / 2);
  }
}
@media only screen and (min-width: 1018.5px) {
  .article__item--latest {
    min-width: calc(((100vw - 30px) - (-210px + 31.25vw)) / 3);
  }
}
@media only screen and (min-width: 1439.5px) {
  .article__item--latest {
    min-width: 288.75px;
  }
  .article__item--latest .article__image {
    object-position: 60% 50%;
  }
}

.article__item--latest .article__imagewrap {
  position: relative;
}

li.article__item--latest:last-child {
  margin-right: 0px;
}
.article__tag--latest {
  position: absolute;
  border-radius: 0px 0px 4px 0px;
}
.article__textblock--latest {
  margin-top: 15px;
  border-bottom: 0;
}
.carousel__pagecount {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel__pagecount > button {
  border: transparent;
  margin: 0 5px;
  background-color: var(--gray);
  border-radius: 50px;
  height: 10px;
  width: 10px;
  cursor: pointer;
}
.carousel__pagecount > button:hover {
  background-color: var(--red);
}
button.currentpage,
button.currentpage:hover {
  background-color: var(--lightblack);
  cursor: initial;
}
footer {
  background-color: var(--black);
  padding-top: 120px;
  padding-bottom: 30px;
}
footer div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button--listed {
  border: transparent;
  display: block;
  position: relative;
  margin: 0 auto;
  margin-top: var(--internalpadding);
}
.viewmore span {
  transition: all 0.8s ease;
  border-radius: 25px;
  width: 28px;
  height: 28px;
  color: var(--green);
  position: absolute;
  font-size: 28px;
  bottom: -24px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.viewless {
  box-shadow: 0px -4px 0px rgba(56, 136, 201, 0.4);
}
.viewless span {
  bottom: initial;
  top: -24px;
  transform: rotate(180deg);
}
.section__titleblock--blogs {
  margin: 0 auto;
}
.filterbar {
  padding: 30px 0;
}
.filterbar__head > span {
  color: var(--red);
  margin-right: 10px;
}
.filterbar__buttontag {
  min-width: 103.82px;
  flex-grow: 1;
  flex-basis: 45%;
  border-width: 3px;
  border-radius: 6px;
  color: var(--lightblack);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filterbar__buttontag:hover {
  color: white;
}
button.article__tag--review:hover {
  background: rgba(0, 228, 125, 0.7);
}
button.article__tag--opinion:hover {
  background: rgba(43, 43, 43, 0.7);
}
button.article__tag--guide:hover {
  background: rgba(175, 66, 174, 0.7);
}
button.article__tag--news:hover {
  background: rgba(255, 134, 65, 0.7);
}
button.buttontag--active,
button.buttontag--active:hover {
  color: white;
}
button.article__tag--review.buttontag--active {
  background: rgba(0, 228, 125, 1);
}
button.article__tag--opinion.buttontag--active {
  background: rgba(43, 43, 43, 1);
}
button.article__tag--guide.buttontag--active {
  background: rgba(175, 66, 174, 1);
}
button.article__tag--news.buttontag--active {
  background: rgba(255, 134, 65, 1);
}
.filterbar__buttonflex {
  margin-top: var(--tinypadding);
  display: flex;
  flex-flow: wrap;
}
.filterbar__buttonflex > * {
  flex-grow: 1;
  display: flex;
  flex-basis: calc((455px - 100%) * 999);
}
.filterbar > div {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}
.filterbar__bottom label {
  font-size: var(--bodybutton);
  font-family: "Lato", Arial, sans-serif;
}
#sort {
  position: relative;
  background-color: white;
  border: 1px solid #949494;
  border-radius: 4px;
  padding: 10px 15px 10px 5px;
  font-size: var(--bodysmall);
  color: var(--gray);
  line-height: auto;
}
#sort::after {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  content: "";
  width: 15px;
  height: 15px;
  background-color: var(--lightblack);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}
.section__articles--blogs {
  padding-top: var(--internalpadding);
}

/** Full Articles + About/Contact **/
.fullcontent {
  overflow: hidden;
  background-color: var(--shadewhite);
}
.fullcontent__container {
  position: relative;
  display: flex;
  flex-flow: wrap;
  max-width: 1440px;
  margin: 0 auto;
}

.fullcontent__imagewrap {
  display: flex;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
}
.fullcontent__image {
  z-index: 1;
  min-height: 300px;
  width: 100%;
  max-width: 1440px;
  height: auto;
  object-fit: cover;
  object-position: 60% 70%;
}
.fullcontent__article {
  z-index: 1;
  flex-grow: 3;
  background-color: white;
  max-width: 934px;
  margin: 0;
  padding: var(--sectionpadding) var(--sidepadding);
}
.fullcontent__sidebar {
  position: relative;
  z-index: 0;
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  /* box-shadow: -4px 0px 15px rgba(43, 43, 43, 0.25); */
  padding: var(--sectionpadding) var(--sidepadding);
}

.fullcontent__sidebar,
.fullcontent__article {
  flex-basis: calc((850px - 100%) * 999);
}
.sidebar {
  flex-grow: 1;
  margin: 0;
}
/* The W looks off due to its sharp edge, so I'm adjusting it to be more optically correct */
.main--about .fullcontent__title {
  transform: translateX(-2px);
}
.fullcontent__title,
.sidebar__title {
  position: relative;
  padding-bottom: var(--tinypadding);
  /* border-bottom: 1px solid #949494; */
  margin-bottom: var(--internalpadding);
}
.fullcontent__title::after,
.sidebar__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #949494;
  opacity: 0.3;
  height: 1px;
  width: 100%;
  border-radius: 4px;
  transform: translateX(2px);
}
.sidebar__title::after {
  height: 4px;
  transform: translateX(0);
}
.sidebar__title {
  white-space: nowrap;
  border-width: 4px;
  color: var(--red);
}
.fullcontent__bodytext > p {
  margin-bottom: 30px;
}
.fullcontent__bodytext--about > p:nth-child(3) {
  margin-bottom: var(--sectionpadding);
}
.fullcontent__bodytext--about p:last-child {
  font-style: italic;
}
.sidebar__socialslist {
  font-size: 1.563rem;
  /* max-width: 388px; */
  font-family: "Lato", Arial, sans-serif;
  font-weight: 400;
  color: var(--black);
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}
.sidebar__socialslist > * {
  flex-basis: 50%;
  min-width: 125px;
  max-width: 177px;
}
.sidebar__socialslist > li:nth-child(even) a {
  position: relative;
  right: -20%;
  margin-right: 0;
}
.sidebar__socialslist > li:nth-child(even) {
  max-width: 100%;
}

.sidebar__button {
  display: inline-block;
  margin-bottom: 60px;
}
.sidebar__socialslist > li {
  margin-bottom: 30px;
}
.sidebar__link {
  white-space: nowrap;
  margin-right: 20px;
}
.sidebar__link span {
  margin-right: 10px;
  min-width: 25px;
  max-width: 25px;
  min-height: 25px;
  max-height: 25px;
}
.sidebar__link--facebook span {
  color: #4267b2;
}
.sidebar__link--twitter span {
  color: #1da1f2;
}
.sidebar__link--discord span {
  color: #738adb;
}
.sidebar__link--steam span {
  color: #151210;
}
@media only screen and (min-width: 645px) {
  .sidebar__socialslist > * {
    flex: none;
    min-width: 125px;
    max-width: 177px;
  }
  .sidebar__socialslist > li:nth-child(even) a {
    margin-right: 20px;
    position: static;
  }
}
@media only screen and (min-width: 849.5px) {
  .fullcontent__sidebar {
    padding-left: var(--sectionpadding);
  }
  .fullcontent__article {
    padding-right: var(--sectionpadding);
    box-shadow: -4px 0px 15px rgba(43, 43, 43, 0.15), 4px 0px 15px rgba(43, 43, 43, 0.15);
  }
  .sidebar__links {
    max-width: 180px;
  }
  .fullcontent__image {
    border-radius: 0 0 300px 0;
    box-shadow: -4px 0px 15px rgba(43, 43, 43, 0.15), 0px 8px 15px rgba(43, 43, 43, 0.25);
  }
  .fullcontent__sidebar::after {
    z-index: -2;
    content: "";
    position: absolute;
    background-color: var(--shadewhite);
    height: 200%;
    width: 100%;
    top: -100%;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 4px 0px 15px rgba(43, 43, 43, 0.15);
  }
}

/** Contact Form **/

.contact__input-wrap {
  display: flex;
  flex-flow: column;
}
.contact {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: calc(-15px);
  max-width: 694px;
}
.contact > * {
  max-width: 100%;
}
.contact__fieldset {
  flex-grow: 1;
  flex-basis: 100%;
  display: flex;
  flex-flow: row wrap;
  align-self: stretch;
}
.contact__label {
  margin-bottom: 5px;
  color: var(--lightblack);
}
.contact__input-wrap {
  position: relative;
  flex-basis: 100%;
  flex-grow: 1;
}

.contact__button {
  border: none;
}
.contact__input-wrap,
.contact__button,
.contact__success {
  margin: 15px;
}
.contact__input-wrap--name,
.contact__input-wrap--email {
  align-self: flex-start;
  flex-basis: calc((600px - 100%) * 999);
}
textarea {
  resize: vertical;
}
.contact__input-text {
  flex-grow: 1;
  border: 1px solid rgba(43, 43, 43, 0.3);
  background-color: #fafafa;
  font-family: "Nunito", Arial, sans-serif;
  font-size: var(--bodysmall);
  font-weight: 300;
  color: var(--black);
  min-height: 40px;
  padding: 15px 15px 10px;
  border-radius: 4px;
}
.errorborder {
  border: 2px solid var(--red);
}
.error {
  display: none;
  margin-top: 5px;
  color: var(--red);
  font-weight: 700;
  font-size: 0.8em;
}
.validated {
  margin: 15px;
  font-weight: 700;
  color: rgb(19 97 0);
  font-family: "Lato", Arial, sans-serif;
  font-size: var(--h3main);
  display: none;
  position: relative;
  text-align: center;
  width: 100%;
  padding: 20px 15px;
  left: 0;
  right: 0;
}
.validated::before {
  display: block;
  border-radius: 4px;
  border: 2px solid var(--green);
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 228, 125, 0.3);
}
@media only screen and (max-width: 360px) {
  /* Brute forcing because I have no idea why they won't go lower than 360px in width */
  .contact__input-text,
  .contact__fieldset,
  .contact,
  .validated {
    min-width: calc(100vw - 30px);
    max-width: calc(100vw - 30px);
  }
}
